<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body>
<h1>Welcome to the analyzer.Enter your Text</h1>
<form action='/analyze' method ='get'>
    <textarea name='text' style='margin: 0px; width: 638px; height: 170px;'>
    </textarea><br>
    <input type='checkbox' name="removepunc"> Remove punctuation<br>
    <input type='checkbox' name="fullcase"> UPPERCASE<br>
    <input type='checkbox' name="newline"> NEWLINE REMOVER<br>
    <input type='checkbox' name="extraspace"> EXTRASPACE REMOVER<br>
    <button type='submit'>Analyze Text</button>

</form>
</body>
</html>